version: "3.4"

services:

  base:
    build:
      dockerfile: Dockerfile.${BASE_DOCKER_VERSION}
      context: base/$OSNAME
      network: ${DOCKER_BUILD_NETWORK:-bridge}
    image: evernym/dockerbase:base-${OSNAME}-${BASE_DOCKER_VERSION}

  rust:
    build:
      dockerfile: Dockerfile.${RUST_DOCKER_VERSION}
      context: rust/$OSNAME
      network: ${DOCKER_BUILD_NETWORK:-bridge}
      args:
          - RUST_VERSION
    image: evernym/dockerbase:rust-${OSNAME}-${RUST_DOCKER_VERSION}

  python3:
    build:
      dockerfile: Dockerfile.${PYTHON3_DOCKER_VERSION}
      context: python3/$OSNAME
      network: ${DOCKER_BUILD_NETWORK:-bridge}
      args:
          - PYTHON3_VERSION
    image: evernym/dockerbase:python3-${OSNAME}-${PYTHON3_DOCKER_VERSION}
